<section id="about">
    <h2>About Us</h2>
    <div class="container">
        <div class="photo">
            <img src="/heroimg.jpg" alt="about us">
        </div>
        <div class="text">
            <h4>Who we Are?</h4>
            <p>We’re a team of passionate problem-solvers who love turning challenges into opportunities. With expertise in development, design, and strategy, we work closely with our clients to deliver custom digital solutions that drive growth and innovation.</p>
            <p>Whether you're a startup looking to make your mark or an established business ready to scale, we’re here to help you every step of the way. Your success is our success, and we’re committed to building tools that empower you to achieve your goals with confidence.</p>
            <p>Let’s create something amazing together. Partner with us and see how we can bring your vision to life!</p>
        </div>
    </div>
</section>

<style>
    section{
        padding: 0 11%;
        padding-top: 50px;
    }

    h2{
        font-size: 3rem;
        display: block;
        background: linear-gradient(90deg, rgba(163,204,63,1) -80%, rgba(34,120,222,1) 200%);
        background-clip: text;
        color: transparent;
        width: fit-content;
        margin-left: auto;
    }

    .container{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .text, .photo{
        flex: 1 0 50%;
    }

    .photo img{
        object-position: center center;
        object-fit: cover;
        max-width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 150px;
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 20px;
    }

    h4{
        font-size: 2rem;
        color: rgb(85, 84, 84);
    }

    p{
        color: rgb(77, 77, 77);
    }

    @media screen and (max-width:992px){

        .container{
            flex-direction: column;
        }

        .text, .photo{
            flex-basis: 100%;
        }

        .photo img{
            border-radius: 20px;
        }
    }
    @media screen and (max-width:576px){
        h2{
            font-size: clamp(2rem, 0.659rem + 6.504vw, 3rem);
            margin: 20px auto;
        }
    }
</style>