---
import RotativeCards from "../RotativeCards.svelte"
import Button from "../Button.astro";
---
<section id="services">
    <h2>Our Services</h2>
    <div class="wrapper">
        <div class="text">
            <p>
                At <strong>Resma</strong>, we pride ourselves on delivering a diverse range of software development services designed to empower businesses of all sizes. Our team of experts combines technical expertise with a passion for innovation, ensuring every solution we deliver is tailored to meet your unique goals.
            </p>
            <p>
                We understand that every business is different, which is why our approach is highly flexible and customized. Whether you’re looking to enhance your digital presence, optimize your workflows, or explore new technological opportunities, we’re here to make it happen.
            </p>
            <p>
                Our services are built around helping you stay competitive in a fast-paced digital world. From creating stunning mobile applications that keep your business at your customers’ fingertips, to developing robust desktop solutions for streamlined operations, we have the tools and expertise to bring your vision to life.
            </p>
            <p>
                In addition, our web development solutions are designed to help you stand out online. We focus on building websites that not only look great but perform exceptionally, ensuring your customers have a seamless experience every time they visit.
            </p>
        </div>
        <div class="services">
            <RotativeCards 
            slides={
                [{
                    src: "/mobile-dev.jpg",
                    alt: "Mobile development",
                    title: "Mobile Apps",
                    description: "We specialize in developing innovative mobile applications that provide a seamless user experience across both iOS and Android. Whether you're looking to engage your audience with a consumer app or streamline operations with a business app, we create solutions tailored to your specific needs. Our apps are built for performance, usability, and scalability, ensuring that your business stays connected with customers wherever they are."
                },
                {
                    src: "/web-dev.jpg",
                    alt: "Web development",
                    title: "Web Developement",
                    description: "We create dynamic and responsive websites that are not only visually appealing but also highly functional. Our team specializes in building websites that adapt seamlessly to all devices, ensuring your users have a great experience no matter where they access your site. We focus on both design and performance, delivering websites that are fast, secure, and optimized for search engines. Whether you need a simple landing page or a complex web application, we craft solutions that align with your business goals and drive online success."
                },
                {
                    src: "/desktop-dev.jpg",
                    alt: "Desktop development",
                    title: "Desktop Apps",
                    description: "We develop powerful desktop applications designed to optimize your business operations. Our solutions are tailored to meet your specific requirements, providing robust, scalable, and secure software that enhances productivity. Whether you're looking for a standalone application or an enterprise-level system, we build desktop apps that are intuitive, high-performing, and perfectly suited to your workflow. With ongoing support and updates, we ensure your app remains efficient and reliable over time."
                },
                {
                    src: "/tech-consulting.jpg",
                    alt: "Tech Consulting",
                    title: "Tech Consulting",
                    description: "Our tech consulting services are designed to help you navigate the ever-evolving digital landscape. We provide expert advice on everything from system integration to process optimization, ensuring your technology investments align with your business goals. Whether you’re looking to adopt new technologies, improve existing systems, or strategize for future growth, our team offers actionable insights to drive innovation and efficiency. Let us help you make informed decisions that propel your business forward."
                }]
            } 
            duration={3000} 
            client:only
            />
        </div>
    </div>
</section>

<style>
    section{
        padding: 0 11%;
        padding-top: 50px;
    }

    h2{
        font-size: 3rem;
        display: block;
        background: linear-gradient(90deg, rgba(163,204,63,1) -80%, rgba(34,120,222,1) 200%);
        background-clip: text;
        color: transparent;
        width: fit-content;
        margin-right: auto;
    }

    .wrapper{
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    .text{
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-bottom: auto;
    }

    .services{
        flex: 1;
    }

    .see-more{
        min-width: fit-content;
        width: 20%;
        margin-left: auto;
    }

    @media screen and (max-width:992px) {
        .wrapper{
            flex-direction: column;
        }

        .services{
            width: 100%;
            font-size: clamp(0.8rem, 0.7rem + 0.483vw, 1rem);
        }
    }

    @media screen and (max-width:576px){
        h2{
            font-size: clamp(2rem, 0.659rem + 6.504vw, 3rem);
            margin: 20px auto;
        }
    }
</style>