---
import RotativeCards from "../RotativeCards.svelte"
import Button from "../Button.astro";
---
<section>
    <h2>Our Services</h2>
    <div class="wrapper">
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto, tempore obcaecati officia dolorem corporis voluptates fugit excepturi commodi nisi sequi mollitia ipsa alias atque quis ullam facere! Aspernatur, voluptatum.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto, tempore obcaecati officia dolorem corporis voluptates fugit excepturi commodi nisi sequi mollitia ipsa alias atque quis ullam facere! Aspernatur, voluptatum.
            </p>
            
            <Button class="see-more">See all</Button>
        </div>
        <div class="services">
            <RotativeCards 
            slides={
                [{
                    src: "/mobile-dev.jpg",
                    alt: "Mobile development",
                    title: "Mobile Apps",
                    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perspiciatis architecto ad natus tempora beatae repudiandae repellat aliquid nihil, hic ut magnam dignissimos minus reprehenderit, quod sint nulla sit nisi."
                },
                {
                    src: "/web-dev.jpg",
                    alt: "Mobile development",
                    title: "Web Developement",
                    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perspiciatis architecto ad natus tempora beatae repudiandae repellat aliquid nihil, hic ut magnam dignissimos minus reprehenderit, quod sint nulla sit nisi."
                },
                {
                    src: "/desktop-dev.jpg",
                    alt: "Mobile development",
                    title: "Desktop Apps",
                    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perspiciatis architecto ad natus tempora beatae repudiandae repellat aliquid nihil, hic ut magnam dignissimos minus reprehenderit, quod sint nulla sit nisi."
                },
                {
                    src: "/tech-consulting.jpg",
                    alt: "Mobile development",
                    title: "Tech Consulting",
                    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perspiciatis architecto ad natus tempora beatae repudiandae repellat aliquid nihil, hic ut magnam dignissimos minus reprehenderit, quod sint nulla sit nisi."
                }]
            } 
            duration={3000} 
            client:only
            />
        </div>
    </div>
</section>

<style>
    section{
        padding: 0 11%;
        padding-top: 50px;
    }

    h2{
        font-size: 3rem;
        display: block;
        background: linear-gradient(90deg, rgba(163,204,63,1) -80%, rgba(34,120,222,1) 200%);
        background-clip: text;
        color: transparent;
        width: fit-content;
        margin-right: auto;
    }

    .wrapper{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .text{
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .services{
        flex: 1;
    }

    .see-more{
        min-width: fit-content;
        width: 20%;
        margin-left: auto;
    }

    @media screen and (max-width:992px) {
        .wrapper{
            flex-direction: column;
        }

        .services{
            width: 100%;
            font-size: clamp(0.8rem, 0.7rem + 0.483vw, 1rem);
        }
    }

    @media screen and (max-width:576px){
        h2{
            font-size: clamp(2rem, 0.659rem + 6.504vw, 3rem);
            margin: 20px auto;
        }
    }
</style>